.list {
    display: flex;
    flex: row;
    justify-content: space-around;
    height: 45px;
    width: 400px;
    background-color: teal;
}

.btn {
    color: black;
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
    width: 99px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

.btn:hover {
    color: purple;
}