
.btn {
    display: flex;
    flex: row;
    justify-content: center;
    margin-bottom: 50px;
}

.btnhome {
    background-color: aqua;
    border-radius: 10px;
    color: black;
    font-style: italic;
    &:hover {
        background-color: purple;
    }
}

.btnabout {
    background-color: aqua;
    border-radius: 10px;
    color: black;
    font-style: italic;
    &:hover {
        background-color: purple;
    }
}

.btnwork {
    background-color: aqua;
    border-radius: 10px;
    color: black;
    font-style: italic;
    &:hover {
        background-color: purple;
    }
}

.btncontact {
    background-color: aqua;
    border-radius: 10px;
    color: black;
    font-style: italic;
    &:hover {
        background-color: purple;
    }
}