.body{
    height: 95px;
    width: 400px;
    background-color: teal;
}

.searchbar {
    width: 340px;
    height: 40px;
    background-color: beige;
    font-style: italic;
    opacity: 25%;
}

.logo {
    height: 50px;
    width: 70px;
    background-color: beige;
}