.nav-new {
    display: flex;
    flex: row;
    justify-content: space-between;
    height: 194px;
    width: 1440px;
    background-color: teal;
}

.searchbar {
    width: 340px;
    height: 40px;
    background-color: beige;
    font-style: italic;
    opacity: 25%;
}