.body {
   max-height: 1024px;
   max-width: 1440px;
}

.bottom {
    background-color: teal;
}

.hero {
    background-color: cadetblue;
}

.logo {
    height: 120px;
    width: 120px;
    padding: 25px;
    display: flex;
    flex: row;
}

.me {
    margin: 25px;
    height: 500px;
    width: 500px; 
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 2em;
    justify-content: left; 
}

.box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em; 
    margin: auto;
    justify-content: center;
}

.copy {
    background-color: teal;
}   