.body {
    height: 1024px;
    width: 1440px;
    background-color: teal;
}
.new-nav {
    margin: 0%;
    display: flex;
    flex: row;
    justify-self: space-between;
    height: 194px;
    width: 1440px;
    background-color: teal;
}